a {
    color: inherit;
}

.collections {
    background-color: #F4F4F4;
    padding: 50px 30px;
}

.collections-title {
    margin-bottom: 40px;
    font-size: 28px;
}

.collections .flex {
    display: flex;
    padding: 40px 0;
    justify-content: flex-start;
    flex-direction: row;
    margin: left 2px;
}

.collections .flex .card-blog {
    width: 20%;
}


/*Social Proof */

.social-proof {
    padding-bottom: 72px;
    background-color: #F2F2F2;
}

.socialProof_titre {
    font-size: 34px;
    line-height: 28px;
    font-family: roboto;
    text-align: center;
    margin-bottom: 32px;
}

.socialProof_img {
    background-color: black;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    /*overflow: hidden;*/
    margin: 8px;
}

.social-proof .flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*feature left*/

.featureLeft {
    background-color: #F2F2F2;
    position: relative;
    display: flex;
}

.featureLeft_leftColomn {
    width: 50%;
    position: relative;
    padding-top: 135px;
    padding-bottom: 135px;
}

.featureLeft_titre {
    font-size: 34px;
    font-weight: 700;
    font-family: roboto;
}

.featureLeft_txt_pres {
    vertical-align: middle;
    margin-left: 110px;
    width: 70%;
}

.featureLeft_subtitle {
    font-size: 20px;
    line-height: 28px;
    font-family: roboto;
    margin-top: 56px;
    margin-bottom: 24px;
}

.featureLeft_rightColomn {
    width: 50%;
    position: relative;
    background-color: black;
}

.featureLeft_rightColomn .featureLeft_img {
    height: 100%;
}


/*feature right*/

.featureRight {
    background-color: #F2F2F2;
    position: relative;
    display: flex;
}

.featureRight_rightColomn {
    width: 50%;
    position: relative;
    padding-top: 135px;
    padding-bottom: 135px;
}

.featureRight_titre {
    font-size: 34px;
    font-weight: 700;
    font-family: roboto;
}

.featureRight_txt_pres {
    vertical-align: middle;
    margin-left: 110px;
    width: 70%;
}

.featureRight_subtitle {
    font-size: 20px;
    line-height: 28px;
    font-family: roboto;
    margin-top: 56px;
    margin-bottom: 24px;
}

.featureRight_leftColomn {
    width: 50%;
    position: relative;
    background-color: black;
}

.featureRight_leftColomn .featureRight_img {
    height: 100%;
}


/*CTA*/

.CTA {
    background-color: #F2F2F2;
    padding-top: 48px;
    padding-bottom: 24px;
}

.CTA_blockPres {
    width: 40%;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
}

.CTA_blockPres_titre {
    font-size: 34px;
    font-weight: 700;
    font-family: roboto;
}

.CTA_blockPres_subtitle {
    font-size: 20px;
    line-height: 28px;
    font-family: roboto;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 24px;
}


/*pricingPlace*/

.pricingPlace {
    padding: 50px 30px;
    background-color: #F2F2F2;
}

.pricingPlace .flex {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: left 2px;
    justify-content: center;
}

.pricingPlace_titre {
    font-size: 34px;
    font-weight: 700;
    font-family: roboto;
}

.pricingPlace_subtitle {
    font-size: 20px;
    line-height: 28px;
    font-family: roboto;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 24px;
}

.pricingPlace_txt_pres {
    text-align: center;
}


/*Footer*/


/* SITE FOOTER */

.footer {
    padding-top: 70px;
    background-color: #e5e5e5;
    position: relative;
    padding-bottom: 38px;
}

.footerNav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.footer .nav-left {
    display: flex;
    align-items: center;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.footer .nav-left li:not(:last-child) {
    margin-right: 48px;
}

.footer .nav-left a {
    text-decoration: none;
    white-space: nowrap;
}

.footer .nav-right {
    display: flex;
    align-items: center;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.footer .nav-right li:not(:last-child) {
    margin-right: 48px;
}

.footer .nav-right a {
    text-decoration: none;
    white-space: nowrap;
}

.footer_img {
    margin-left: 20%;
    margin-right: 20%
}

.separateurBox {
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

.separateur {
    height: 1px;
    width: 70%;
    background-color: black;
}

.footer_picture .footer_img {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 1px solid black;
    /*overflow: hidden;*/
    margin: 8px;
}

.footer .flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerTxt {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 72px;
}