a {
    color: inherit;
}

.collections {
    background-color: #F4F4F4;
    padding: 50px 30px;
}

.collections-title {
    margin-bottom: 40px;
    font-size: 28px;
}

.collections .flex {
    display: flex;
    padding: 40px 0;
    justify-content: flex-start;
    flex-direction: row;
    margin: left 2px;
}

.collections .flex .card-blog {
    width: 20%;
}


/*pricingPlace*/

.pricingPlace {
    padding: 50px 30px;
    background-color: #050029;
    ;
}

.pricingPlace .flex {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: left 2px;
    justify-content: center;
}

.pricingPlace_titre {
    font-size: 34px;
    font-weight: 700;
    font-family: roboto;
    color: white;
}

.pricingPlace_subtitle {
    font-size: 20px;
    line-height: 28px;
    font-family: roboto;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 24px;
    color: white;
}

.pricingPlace_txt_pres {
    text-align: center;
}