---
layout: layouts/base.njk

---

{% import "components/primary-button.njk" as buttonPrimary %}
{% import "components/secondary-button.njk" as buttonSecondary %}
{% import "components/card-pricing.njk" as pricingCard %}
{% import "components/hero.njk" as heroPage %}
{% import "components/featureRight.njk" as featureRight %}
{% import "components/featureLeft.njk" as featureLeft %}
{% import "components/testimonial.njk" as testimonial %}
{% import "components/CTA.njk" as cta %}


<section class="hero-page twoColumn">
  {{ heroPage.show('Start free trial','titre') }}
</section>

<section class="social-proof">
{{ testimonial.show('Start free trial','titre','titre') }}
</section>

<section class="featureLeft">
  {{ featureLeft.show('Start free trial','titre','titre') }}
</section>

<section class="featureRight">

  {{ featureRight.show('Start free trial','titre','titre') }}

</section>

<section class="CTA">

{{ cta.show('Start free trial','titre') }}

</section>

<section class="pricingPlace">
  <div class="pricingPlace_txt_pres">
    <h2 class="pricingPlace_titre">Pricing</h1>
    <h3 class="pricingPlace_subtitle">Decouvrez tout nos tarifs</h1>
  </div>
  <div class="flex">
    {{ pricingCard.show("Gratuit","29,99","Votre écoute","Un audit","10 Projets") }}
    {{ pricingCard.show("Gratuit","29,99","Votre écoute","Un audit","10 Projets") }}
    {{ pricingCard.show("Gratuit","29,99","Votre écoute","Un audit","10 Projets") }}
  </div>
</section>