---
layout: layouts/base.njk

---

{% import "components/primary-button.njk" as buttonPrimary %}
{% import "components/secondary-button.njk" as buttonSecondary %}
{% import "components/card-pricing.njk" as pricingCard %}

{% import "components/hero.njk" as heroPage %}
{{ heroPage.show('Start free trial','titre') }}


  <section class="hero-page twoColumn">
    <div class="leftColomn">
      <div class="hero-page_txt_pres">
        <h1 class="hero-page_titre"> Your best value proposition </h1>
        <h2 class="hero-page_subtitle"> Sous titre</h2>
        
        {{ buttonPrimary.show('Start free trial') }}
      </div>
    </div>
    <div class="rightColomn">
      <img class="hero_img" src="img/Browser.svg">
    </div>
  </section>


<section class="social-proof">
  <div class="socialProof__txt_pres">
    <h2 class="socialProof_titre">Trusted by the World’s Best Companies</h1>
  </div>
  <div class='flex socialProof_picture'>
    <img scr"" class="socialProof_img">
    <img scr"" class="socialProof_img">
    <img scr"" class="socialProof_img">
    <img scr"" class="socialProof_img">
    <img scr"" class="socialProof_img">
    <img scr"" class="socialProof_img">
  </div>
</section>

<section class="featureLeft">
  <div class="featureLeft_leftColomn">
    <div class="featureLeft_txt_pres">
      <h2 class="featureLeft_titre">Your Best Value Proposition</h1>
      <h3 class="featureLeft_subtitle"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
      {{ buttonSecondary.show('Learn more') }}
    </div>
  </div>

  <div class="featureLeft_rightColomn">
    <img class="featureLeft_img" src="...">
  </div>
</section>

<section class="featureRight">

  <div class="featureRight_leftColomn">
    <img class="featureRight_img" src="...">
  </div>

  <div class="featureRight_rightColomn">
    <div class="featureRight_txt_pres">
      <h2 class="featureRight_titre">Your Best Value Proposition</h1>
      <h3 class="featureRight_subtitle"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
      {{ buttonSecondary.show('Learn more') }}
    </div>
  </div>

</section>

<section class="CTA">
  <div class="CTA_blockPres">
    <h2 class="CTA_blockPres_titre">Your Best Value Proposition</h1>
    <h3 class="CTA_blockPres_subtitle"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
    {{ buttonPrimary.show('Learn more') }}
  </div>
</section>

<section class="pricingPlace">
  <div class="pricingPlace_txt_pres">
    <h2 class="pricingPlace_titre">Pricing</h1>
    <h3 class="pricingPlace_subtitle">Decouvrez tout nos tarifs</h1>
  </div>
  <div class="flex">
    {{ pricingCard.show("Gratuit","29,99","Votre écoute","Un audit","10 Projets") }}
    {{ pricingCard.show("Gratuit","29,99","Votre écoute","Un audit","10 Projets") }}
    {{ pricingCard.show("Gratuit","29,99","Votre écoute","Un audit","10 Projets") }}
  </div>
</section>