<div class='card-square'>
    <div class='card_square_img'>
        <img src='https://www.fillmurray.com/300/360'/>
    </div>
    <div class='card_square_desc'>
        <h2 class='desc_square_title'>Special Feature</h2>
        <a class='link_card_square'>See more ></a>
    </div>
</div>