{% macro show(titre,subtitle,feature1,feature2,feature3) %}
<div class='card-pricing'>
    <div class='card_price_icon'></div>
    <div class='card_price_header'>
        <h2 class='card_price_title'>{{ titre }}</h2>
        <h3 class='card_price_subtitle'>{{ subtitle }}</h3>
    </div>
    <div class='card_price_desc'>
        <ul class='card_price_feature_list'>
            <li class='card_price_feature_list_element'>{{ feature1 }}</li>
            <li class='card_price_feature_list_element'>{{ feature2 }}</li>
            <li class='card_price_feature_list_element'>{{ feature3 }} </li>
        </ul>
    </div>
    <div class='card_price_button'>
        {% import "components/primary-button.njk" as primarybutton %}
        {{ primarybutton.show("Plus d'informations") }}
    </div>
</div>
{% endmacro %}