<section class='footer'>
  <div class="footerNav">
    <ul class="nav-left">
      <li class="nav-item">
        <a href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a href="#">Link 2</a>
      </li>
      <li class="nav-item">
        <a href="#">Link 3</a>
      </li>
    </ul>

    <h1 class="footer_img">
      <a href="{{ '/' | url }}"><img src="img/Logo.svg"></a>
    </h1>

    <ul class="nav-right">
      <li class="nav-item">
        <a href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a href="#">Link 2</a>
      </li>
      <li class="nav-item">
        <a href="#">Link 3</a>
      </li>
    </ul>
  </div>
  <div class='separateurBox'>
    <div class="separateur"></div>
  </div>

    <div class='flex footer_picture'>
    <img scr"" class="footer_img">
    <img scr"" class="footer_img">
    <img scr"" class="footer_img">
    <img scr"" class="footer_img">
    <img scr"" class="footer_img">
  </div>

<div class="footerTxt">
<p> © 2010 — 2020 — Privacy — Terms</p>
</div>

</section>