<header class='site-header'>
    <h1 class="home">
        <a href="{{ '/' | url }}"><img src="img/Logo.svg"></a>
    </h1>

    <ul class="nav">
        <li class="nav-item">
            <a href="#">Accueil</a>
        </li>
        <li class="nav-item">
            <a href="#">Projets</a>
        </li>
        <li class="nav-item">
            <a href="#">Contact</a>
        </li>
        <li class="nav-item">
            <a href="#">A propos</a>
        </li>
    </ul>
    {% import "components/secondary-button.njk" as buttonSecondary %}
    {{ buttonSecondary.show('Sign-up') }}
</header>