<header class='site-header'>
    <h1 class="home"><a href="{{ '/' | url }}"><img src="img/Logo.svg"></a></h1>

    <ul class="nav">
        <li class="nav-item"><a href="#">Link 1</a></li>
        <li class="nav-item"><a href="#">Link 2</a></li>
        <li class="nav-item"><a href="#">Link 3</a></li>
        <li class="nav-item"><a href="#">Link 4</a></li>
    </ul>
    {% import "components/secondary-button.njk" as button %}
      {{ secondary-button.show('Sign-up') }}
</header>