{% macro show(titre, img1, img2, img3, img4, img5, img6) %}

  <div class="socialProof__txt_pres">
    <h2 class="socialProof_titre">{{ titre }}</h2>
  </div>
  <div class='flex socialProof_picture'>
    <img scr"{{ img1 }}" class="socialProof_img">
    <img scr"{{ img2 }}" class="socialProof_img">
    <img scr"{{ img3 }}" class="socialProof_img">
    <img scr"{{ img4 }}" class="socialProof_img">
    <img scr"{{ img5 }}" class="socialProof_img">
    <img scr"{{ img6 }}" class="socialProof_img">
  </div>


{% endmacro %}

